/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Oxygen', sans-serif;
}

header, footer {
    background-color: darkslategray;
    text-align: center;
    color: beige;
    text-shadow: 1px 1px black;
}

h1 {
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.card {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
}

.siteName {
    font-weight: 700;
    letter-spacing: 0.4em;
    font-size: 1em;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.content > div {
    display: block;
}

.linkIcon {
    color: rgb(151, 151, 151);
}

.linkIcon:hover {
    color: rgb(51, 51, 51);
}

.cardBanner {
     background-color: #554a55;
     border-radius: 24px;
     padding: 3%;
     color: beige;
     text-align: center;
     font-size: 1.7em;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     letter-spacing: 0.1em;
 }

.cardBody {
    display: block;
    margin: auto;
}

.cardImage {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    max-width: 95%;
    min-height: 20px;
}

.cardImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hrHeader {
    width: 98%;
    color: beige;
} 

#authorInfo {
    padding-bottom: 10px;
}

#lastUpdated {
    color: gold;
}

#byui {
    color: beige;
}