/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Oxygen', sans-serif;
}

header, footer {
    background-color: darkslategray;
    text-align: center;
    color: beige;
    text-shadow: 1px 1px black;
}

h1 {
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    flex-direction: column;
}

li {
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    padding: 8px;
    background-color: rgb(103, 177, 177);
}

li:hover {
    background-color: darkslategray;
}

li a:hover {
    color: beige;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu li a {
    display: flex;
    width: auto;
    color: black;
    text-decoration: none;
}

.footer {
    margin-top: 20px;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
}

#hrHeader {
    width: 98%;
    color: beige;
} 

#authorInfo {
    padding-bottom: 10px;
}

#lastUpdated {
    color: gold;
}

#byui {
    color: beige;
}