/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Oxygen', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: darkslategray;
    text-align: center;
    color: beige;
    text-shadow: 1px 1px black;
}

footer {
    margin-top: 40px;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

section {
    width: 100%;
    margin-top: 25px;
}

h1 {
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.link-div {
    display: flex;
    border: 1px solid rgb(89, 146, 146);
    justify-content: center;
    padding: 8px;
    background-color: rgb(103, 177, 177);
}

.link-div:hover {
    background-color: rgb(89, 146, 146);
    font-weight: 600;
}

.home-link, 
.color-link, 
.typo-link, 
.target-link {
    background-color: rgb(89, 146, 146);
    font-weight: 600;
}

.color-li {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

.bold {
    font-weight: 600;
}

.hex {
    width: 80px;
    font-weight: 600;
    border-right: 1px solid black;
}

.color-dot {
    height: 32px;
    width: 32px;
    margin-right: 10px;
    border-right: 1px solid black;
}

#hrHeader {
    width: 98%;
    color: beige;
} 

#authorInfo {
    padding-bottom: 10px;
}

#lastUpdated {
    color: gold;
}

#byui {
    color: beige;
}

#colors {
    display: flex;
    flex-direction: column;
    width: 300px;
    line-height: 2em;
} 

#_01161E {
    background-color: #01161E;
}

#_124559 {
    background-color: #124559;
}

#_598392 {
    background-color: #598392;
}

#_AEC3B0 {
    background-color: #AEC3B0;
}

#_EFF6E0 {
    background-color: #EFF6E0;
}

#color-img {
    display: none;
}

#domain-image {
    display: none;
}

#logo-img,
#sample-text-img {
    object-fit: cover;
    width: 100%;
    max-width: 650px;
    display: block;
    margin: auto;
}
