/* ----- baseline view ----------------------------------- */
* {box-sizing: border-box;}

body {
    font-family: 'Oxygen', sans-serif;
}

header, footer {
    background-color: darkslategray;
    text-align: center;
    color: beige;
    text-shadow: 1px 1px black;
}

footer {
    margin-top: 40px;
    padding: 14px;
    min-height: 4em;
    font-size: 0.85em;
    line-height: 1.6em;
    font-size: 16px;
}

main {
    max-width: 900px;
    display: block;
    margin: auto;
    padding: 10px;
}

section {
    margin-top: 25px;
}

h1 {
    margin-top: 0;
    padding: 10px 10px 0 10px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    color: black;
    text-decoration: none;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.link-div {
    display: flex;
    border: 1px solid rgb(89, 146, 146);
    justify-content: center;
    padding: 8px;
    background-color: rgb(103, 177, 177);
}

.link-div:hover {
    background-color: rgb(89, 146, 146);
    font-weight: 550;
}

.home-link, 
.color-link, 
.typo-link, 
.target-link {
    background-color: rgb(89, 146, 146);
    font-weight: 550;
}

#hrHeader {
    width: 98%;
    color: beige;
} 

#authorInfo {
    padding-bottom: 10px;
}

#lastUpdated {
    color: gold;
}

#byui {
    color: beige;
}