/* ----- tablet view (37.5 em) -------------------------- */
@media only screen and (min-width: 37.5em) {

    li {
        width: 50%;
    }

    ul {
        width: 100%;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(103, 177, 177);
    }
}