:root {
    --h-text: 'Merriweather', serif;
    --t-text: 'Source Sans Pro', sans-serif;
    --accent-o: #F09720;
    --accent-b: #25CAD2;
    --accent-b-h: #1a8c92;
    --accent-r: #ED1B33;
    --accent-g: #343A40;
    --accent-w: #fff;
}

.banner {
    margin-top: 16px;
    width: 100%;
    padding: 15px;
    background-color: var(--accent-b-h);
    filter: drop-shadow(0px 0px 1px black);
}

.banner:hover {
    background-color: var(--accent-b);
}

.banner a {
    text-decoration: none;
    color: var(--accent-w);
    text-shadow: 0px 0px 20px black;
}

.banner h1 {
    margin: 0;
}

/* ----- desktop view (50 em) -------------------------- */
@media only screen and (min-width: 50em) {

    .banner {
        border-radius: 80px 0 80px 0;
    }

}